@model Player

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Delete Player </title>
</head>

<body>
    <h2> @Model.Name </h2>
    <form method="post">
        <table>
            <tr>
                <td><input type="hidden" asp-for="PlayerId" /></td>
            </tr>
            <tr>
                <td> <input type="hidden" asp-for="Name" /> </td>
            </tr>
            <tr>
                <td> <input type="hidden" asp-for="Age" /> </td>
            <tr>
                <th class="text-danger">Are You Sure?</th>
                <td> <input class="btn-danger btn-block" type="submit" value="Delete" /> </td>
            </tr>
        </table>
    </form>
    <a class="btn btn-success" asp-controller="Player" asp-action="Detail" asp-route-gameId="@Model.PlayerId">
        Cancel
    </a>

</body>
</html>
