@model IQueryable<Player>

<div>
    <h1 class="display-4 text-center"> Welcome To The Ezekiel's Board Game Checkout! </h1>
</div>
<br />
<h3 class="text-center"> Please Select Your Account </h3>
<br />
<a class="btn-sm btn-primary" asp-controller="Home" asp-action="Index">
    Back
</a>
<br />
<br />
<h3> List of all Players: </h3>
<span>
    <a class="btn-sm btn-success text-center" asp-controller="Player" asp-action="Add">
        Add Player
    </a>
</span>
<hr />
@foreach (Player p in Model)
{
    <h4>
        <a asp-controller="Player" asp-action="Detail" asp-route-playerId="@p.PlayerId">
            @p.Name
        </a>
    </h4>
    <a class="btn-sm btn-success"  asp-controller="Home" asp-action="Index" asp-route-playerId="@p">
        Select
    </a>
    <hr />
}
