@model IQueryable<Player>
@inject IPlayerRepository PlayerRepository

<div>
    <h1 class="display-4 text-center"> Welcome To The Ezekiel's Board Game Checkout! </h1>
</div>
<br />
<h3 class="text-center"> Please Select Your Account </h3>
<br />
<a class="btn-sm btn-primary" asp-controller="Home" asp-action="Index">
    Back
</a>
@if (PlayerRepository.IsPlayerAdmin() == true || PlayerRepository.IsPlayerLoggedIn() == false)
{
    <a class="btn-sm btn-success text-center" asp-controller="Player" asp-action="Add">
        Add Player
    </a>
}
<br />
<br />
<h3> List of all Players: </h3>
<hr />
@foreach (Player p in Model)
{
    <h4>
        <a asp-controller="Player" asp-action="Detail" asp-route-playerId="@p.PlayerId">
            @p.Name
        </a>
    </h4>
    <a class="btn-sm btn-success" asp-controller="Player" asp-action="Login" asp-route-playerId="@p.PlayerId">
        Log In
    </a>
    <hr />
}
