@model Player

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Update Player </title>
</head>
<body>
    <form asp-action="UpdatePlayer" method="Post">
        <table>
            <tr>
                <td>
                    <input type="hidden" asp-for="PlayerId" />
                </td>
            </tr>
            <tr>
                <th> Name: </th>
                <td> <input asp-for="Name" /> </td>
            </tr>
            <tr>
                <th> Age: </th>
                <td> <input asp-for="Age" /> </td>
            </tr>
            <tr>
                <th> Password: </th>
                <td> <input asp-for="Password" /> </td>
            </tr>
            <tr>
                <th>
                    <a class="btn-primary btn-sm" asp-controller="Player" asp-action="Detail" asp-route-playerId="@Model.PlayerId">
                        Back
                    </a>
                </th>
                <td> <input type="submit" value="Update" /> </td>
            </tr>
        </table>
    </form>
</body>
</html>
