@model BoardGame
@inject IPlayerRepository PlayerRepository

@if (PlayerRepository.IsPlayerAdmin())
{
    <h2> Add a Game </h2>
    <form asp-action="Add" method="post">
        <table>
            <tr>
                <th> Name: </th>
                <td> <input asp-for="Name" /> </td>
            </tr>
            <tr>
                <th> Description: </th>
                <td> <input asp-for="Description" /> </td>
            </tr>
            <tr>
                <th> Company Name: </th>
                <td> <input asp-for="CompanyName" /> </td>
            </tr>
            <tr>
                <th> Player Info: </th>
                <td> <input asp-for="NumberOfPlayers" /> </td>
            </tr>
            <tr>
                <th> Genre: </th>
                <td> <input asp-for="Genre" /> </td>
            </tr>
            <tr>
                <th> Image: </th>
                <td> <input asp-for="Image" /> </td>
            </tr>
            <tr>
                <th> Checked Out: </th>
                <td> <input asp-for="CheckedOut" /> </td>
            </tr>
            <tr>
                <th>
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
                        Back
                    </a>
                </th>
                <td> <input type="submit" value="Add Game" /> </td>
            </tr>
        </table>
    </form>
}
else
{
    <h2> You Do No Have Permissions To Add A Game.</h2>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">
        Back
    </a>
}
