@model BoardGame

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Delete Game </title>
</head>

<body>
    <h2> @Model.Name </h2>
    <form method="post">
        <table>
            <tr>
                <td><input type="hidden" asp-for="BoardGameId" /></td>
            </tr>
            <tr>
                <td> <input type="hidden" asp-for="Name" /> </td>
            </tr>
            <tr>
                <td> <input type="hidden" asp-for="Description" /> </td>
            </tr>
            <tr>
                <td> <input type="hidden" asp-for="CompanyName" /> </td>
            </tr>
            <tr>
                <td> <input type="hidden" asp-for="NumberOfPlayers" /> </td>
            </tr>
            <tr>
                <td> <input type="hidden" asp-for="Genre" /> </td>
            </tr>
            <tr>
                <td> <input type="hidden" asp-for="CheckedOut" /> </td>
            </tr>
            <tr>
                <th class="text-danger">Are You Sure?</th>
                <td> <input class="btn-danger btn-block" type="submit" value="Delete" /> </td>
            </tr>
        </table>
    </form>
    <a class="btn btn-success" asp-controller="Home" asp-action="Detail" asp-route-gameId="@Model.BoardGameId">
        Cancel
    </a>
</body>
</html>
